.icon-indent
{
	float:right;
}


/* create an arrow that points up */
div.arrow-up {
  width:0px; 
  height:0px; 
  border-left:20px solid transparent;  /* left arrow slant */
  border-right:20px solid transparent; /* right arrow slant */
  border-bottom:20px solid #2f2f2f; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
}

/* create an arrow that points down */
div.arrow-down {
  width:0px; 
  height:0px; 
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-top:20px solid #2f2f2f;
  font-size:0px;
  line-height:0px;
}


/* create an arrow that points left */
div.arrow-left {
	margin-top:50px;
  width:0px; 
  height:0px;
  border-bottom:30px solid transparent;  /* left arrow slant */
  border-top:30px solid transparent; /* right arrow slant */
  border-right:30px solid #2f2f2f; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
  opacity:.6;
	z-index:99 !important;
	margin-right:10px;
  float:right !important;
}


/* hover for arrow left */
div.arrow-left:hover, div.arrow-right:hover {
  background: silver;
  opacity: .6;
  
	
}
div.arrow-border-left {

	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	border-color:black;
}

/* create an arrow that points right */
div.arrow-right {
	margin-left:10px;	
	margin-top:50px;
  width:0px; 
  height:0px; 
  border-bottom:30px solid transparent;  /* left arrow slant */
  border-top:30px solid transparent; /* right arrow slant */
  border-left:30px solid #2f2f2f; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
  opacity:.6;
	z-index:10;
	
}

.arrow-container-right{
z-index:11;
margin-left:-60px !important;
height:170px;
width:60px !important;

}
.arrow-container-left{

width:120px !important;
position:absolute;
z-index:11 !important;

height:170px;
width:60px !important;

}

.arrow-container-left:hover,.arrow-container-right:hover {

opacity:.6;
height:170px;
background:silver;


}